/************************\
* Components
\************************/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.overlay h1 {
  text-align: center;
}

.button, .big_button {
  position: absolute;
  right: 5px;
  display: block;
  border-radius: 100%;
  border: 1px solid black;
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: black;
}

.button {
  height: 15px;
  width: 15px;
}

.big_button {
  height: 35px;
  width: 35px;
  font-size: 25px;
}


/************************\
* All images
\************************/

.image {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.zoom {
  position: absolute;
}

.placeholder {
  border: 1px solid black;
  background-color: white;
}

.placeholder .zoom {
  text-align: center;
  font-size: 50px;
  width: 100%;
  height: 100%;
}


/************************\
* Main Page
\************************/

#top {
  position: absolute;
  top: 0px;
  height: 60px;
  left: 0px;
  right: 0px;
  border: 1px solid black;
}

#top .title {
  font-size: 32px;
  padding: 8px;
  display: inline-block;
  padding-right: 20px;
}

#top button {
  font-size: 24px;
  margin-right: 10px;
}

#top label {
  font-size: 24px;
}

#top select {
  font-size: 24px;
  width: 150px;
}

#main {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid black;
  overflow: scroll;
}


/************************\
* Drag Overlay
\************************/

#drag_overlay {
  text-align: center;
  font-size: 40px;
  padding-top: 40%;
}


/************************\
* Image Overlay
\************************/

#images .image_container {
  height: 200px;
  width: 200px;
  padding: 5px;
  position: relative;
  display: inline-block;
}

#images .image_container .image {
  border: 1px solid black;
  cursor: pointer;
}

#images .image_container .remove {
  top: 5px;
}

#no_images {
  display: none;
  padding: 25px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  background-color: lightseagreen;
}


/************************\
* Settings Overlay
\************************/

#settings_overlay {
  text-align: center;
}

#settings_overlay .settings {
  display: inline-block;
  font-size: 30px;
  text-align: left;
}

#settings_overlay .settings input {
  width: 60px;
  margin-right: 10px;
  font-size: 18px;
}


/************************\
* Card list
\************************/

#cards .card_container {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin: 5px;
}


/************************\
* Image editing
\************************/

#edit_image_overlay .remove {
  top: 5px;
}

#edit_image_overlay .edit_image {
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
  margin-top: 25px;
}

#edit_image_overlay .edit_image .image .zoom {
  cursor: all-scroll;
}

#edit_image_overlay .settings_container {
  display: block;
  text-align: center;
  font-size: 30px;
}

#edit_image_overlay .settings_container button {
  font-size: 30px;
}

#zoom {
  width: 250px;
}


/************************\
* Printing
\************************/

@media print {
  #top {
    display: none !important;
  }

  #cards {
    border: none;
    height: 100%;
    width: 100%;
    position: unset;
  }
}
