/************************\
* Components
\************************/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.button, .big_button {
  position: absolute;
  right: 5px;
  display: block;
  border-radius: 100%;
  border: 1px solid black;
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.button {
  height: 15px;
  width: 15px;
}

.big_button {
  height: 35px;
  width: 35px;
  font-size: 30px;
}


/************************\
* Page layout
\************************/

#drag_overlay {
  text-align: center;
  font-size: 40px;
  padding-top: 40%;
}

#edit_overlay {
}

#images {
  border: 1px solid black;
}

#cards {
  border: 1px solid black;
}

/************************\
* All images
\************************/

.image {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

.image .zoom {
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 50px;
}


/************************\
* Image list
\************************/

#images .image_container {
  height: 100px;
  width: 100px;
  padding: 5px;
  position: relative;
  display: inline-block;
}

.image_container .image {
  border: 1px solid black;
}

.image_container .remove {
  top: 5px;
}

.image_container .edit {
  bottom: 5px;
}


/************************\
* Card list
\************************/

#cards .card_container {
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 6px solid blue;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}


/************************\
* Image editing
\************************/

#edit_overlay .remove {
  top: 5px;
}

#edit_overlay .edit_image {
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
  margin-top: 50px;
}

#edit_overlay .settings_container {
  display: block;
  text-align: center;
  font-size: 30px;
}

#edit_overlay .settings_container button {
  font-size: 30px;
}
