/************************\
* Components
\************************/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.button {
  position: absolute;
  height: 15px;
  width: 15px;
  right: 5px;
  display: block;
  border-radius: 100%;
  border: 1px solid black;
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}


/************************\
* Page layout
\************************/

#left {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 230px;
  border: 1px solid black;
}

#right {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 230px;
  right: 0px;
  border: 1px solid black;
}

#images {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

#cards {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
  border: 1px solid black;
}

#drag_overlay {
  text-align: center;
  font-size: 40px;
  padding-top: 40%;
}

/************************\
* All images
\************************/

.image {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.image .zoom {
  text-align: center;
  font-size: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.placeholder {
  border: 1px solid black;
  background-color: white;
}


/************************\
* Image list
\************************/

#images .image_container {
  height: 100px;
  width: 100px;
  padding: 5px;
  position: relative;
  display: inline-block;
}

#images .image_container .image {
  border: 1px solid black;
  cursor: pointer;
}

#images .image_container .remove {
  top: 5px;
}

#no_images {
  margin-top: 50px;
  display: inline-block;
  font-size: 32px;
}

#no_images {
  display: none;
}


/************************\
* Generator settings
\************************/

#generate_settings {
  margin-left: 10px;
}

#generate_settings label {
  min-width: 100px;
  display: inline-block;
}

#generate_settings input, #generate_settings select {
  width: 40px;
  margin-right: 10px;
}

#generate_settings button {
  width: 170px;
}


/************************\
* Card list
\************************/

#cards .card_container {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}


/************************\
* Image editing
\************************/

#edit_overlay .remove {
  top: 5px;
}

#edit_overlay .edit_image {
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
  margin-top: 25px;
}

#edit_overlay .edit_image .image .zoom {
  cursor: all-scroll;
}

#edit_overlay .settings_container {
  display: block;
  text-align: center;
  font-size: 30px;
}

#edit_overlay .settings_container button {
  font-size: 30px;
}

#zoom {
  width: 250px;
}
